# Built files
*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties

# Generated
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/

# OS
.DS_Store
Thumbs.db
